nodered flows.json
[{"id":"9a87c2cc.307ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f67c59ce.fb415","type":"http request","z":"9a87c2cc.307ec","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Udaipur,IN&appid=a5316ff67c71af84008f231decbdbd25","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":240,"wires":[["598ba3fe.716ebc","e7f67af0.20d2a8","5ff251b6.4df83","fafa2acc.f82ce","9f7f6a1f.da7ac","df7ce3b5.030be"]]},{"id":"4f515ab4.ebb2bc","type":"inject","z":"9a87c2cc.307ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"make request","payloadType":"str","x":150,"y":140,"wires":[["f67c59ce.fb415"]]},{"id":"511c3bc3.6a1a9c","type":"debug","z":"9a87c2cc.307ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"5ff251b6.4df83","type":"function","z":"9a87c2cc.307ec","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["511c3bc3.6a1a9c"]]},{"id":"e7f67af0.20d2a8","type":"function","z":"9a87c2cc.307ec","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["511c3bc3.6a1a9c"]]},{"id":"598ba3fe.716ebc","type":"function","z":"9a87c2cc.307ec","name":"region","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["511c3bc3.6a1a9c"]]},{"id":"fafa2acc.f82ce","type":"function","z":"9a87c2cc.307ec","name":"weather_description","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["511c3bc3.6a1a9c"]]},{"id":"9f7f6a1f.da7ac","type":"function","z":"9a87c2cc.307ec","name":"temperature","func":"msg.payload=Math.ceil(msg.payload.main.temp-273)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["511c3bc3.6a1a9c"]]},{"id":"eed83267.91ddf8","type":"http in","z":"9a87c2cc.307ec","name":"","url":"/data2","method":"get","upload":false,"swaggerDoc":"","x":180,"y":380,"wires":[["1f9c09ec.5bacf6"]]},{"id":"b920d37f.4bccc","type":"http response","z":"9a87c2cc.307ec","name":"","statusCode":"","headers":{},"x":590,"y":380,"wires":[]},{"id":"1f9c09ec.5bacf6","type":"function","z":"9a87c2cc.307ec","name":"display","func":"msg.payload={\n    \"temperature\":flow.get('temperature'),\n    \"humidity\":flow.get('humidity'),\n    \"pressure\":global.get('pressure'),\n    \"region\":global.get('region'),\n    \"weather\":global.get('weather'),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["b920d37f.4bccc"]]},{"id":"df7ce3b5.030be","type":"function","z":"9a87c2cc.307ec","name":"","func":"flow.set('temperature',Math.ceil(msg.payload.main.temp-273)),\nglobal.set('pressure',msg.payload.main.pressure),\nflow.set('humidity',msg.payload.main.humidity),\nglobal.set('weather',msg.payload.weather[0].description),\nglobal.set('region',msg.payload.name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":340,"wires":[[]]}]